header {
    border: transparent solid 10px;
    border-image: repeating-linear-gradient(#ffff00, #00FFff) 10 round;
    border-radius: 1rem;
    max-width: 670px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

header nav {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #6F6F6F;
}

.btn-primary {
    background-color: #121212;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
}

.header-sec {
    padding: 5rem 7.5rem;
    margin-top: 1.25rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-radius: 1.25rem;
    background-image: linear-gradient(80deg, #1272E3, #002249);
    margin-bottom: -10rem;
}

.header-title {
    color: white;
    font-size: 75px;
    text-align: center;
    line-height: .75;
}

.header-title .badge {
    background-color: #202020;
    border-radius: 1.25rem;
    display: inline-flex;
    padding: 0 .5rem .5rem;
    
}

.badge  span {
    background-image: linear-gradient(#5CBFEA, #002332);
    background-clip: text;
    color: transparent;
}

main {
    margin-top: -5rem;
    padding-top: 15rem;
    background-color: #212223;
}